<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dynamic Table</title>
    <script>
      let stageCode = "A";

      function addRow() {
        const table = document.getElementById("dataTable");
        const rowCount = table.rows.length;
        const row = table.insertRow(rowCount);

        row.innerHTML = `
                <td>${stageCode}</td>
                <td><input type="text" name="rows[${
                  rowCount - 1
                }].stageName"/></td>
                <td><input type="text" name="rows[${
                  rowCount - 1
                }].responsibleRole"/></td>
                <td><input type="text" name="rows[${
                  rowCount - 1
                }].previousStage"/></td>
                <td><input type="text" name="rows[${
                  rowCount - 1
                }].laborCosts"/></td>
            `;

        stageCode = String.fromCharCode(stageCode.charCodeAt(0) + 1);
      }

      window.onload = function () {
        addRow();
        const initialRows =
          document.getElementById("dataTable").rows.length - 1;
        stageCode = String.fromCharCode("A".charCodeAt(0) + initialRows);
      };
    </script>
  </head>
  <body>
    <h2>Enter Data</h2>
    <form th:action="@{/submitData}" th:object="${dataForm}" method="post">
      <table id="dataTable">
        <tr>
          <th>Stage code</th>
          <th>Stage name</th>
          <th>Responsible role</th>
          <th>Previous stage</th>
          <th>Labor costs</th>
        </tr>
      </table>
      <br />
      <input type="button" value="Add Row" onclick="addRow()" />
      <br /><br />
      <label for="developers">Number of Developers:</label>
      <input
        type="number"
        id="developers"
        th:field="*{developers}"
        required
      /><br /><br />

      <label for="testers">Number of Testers:</label>
      <input
        type="number"
        id="testers"
        th:field="*{testers}"
        required
      /><br /><br />

      <label for="analysts">Number of Analysts:</label>
      <input
        type="number"
        id="analysts"
        th:field="*{analysts}"
        required
      /><br /><br />

      <label for="iterations">Number of Iterations:</label>
      <input
        type="number"
        id="iterations"
        th:field="*{iterations}"
        required
      /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
