<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/styles.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.0/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.min.js"></script>
    <script src="https://unpkg.com/cytoscape-dagre@2.3.1/cytoscape-dagre.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/graph.js}"></script>
    <script th:src="@{/js/table.js}"></script>
    <script th:src="@{/js/plotN.js}"></script>
    <script th:src="@{/js/plotAll.js}"></script>
    <script th:src="@{/js/averageAreaPlot.js}"></script>
    <script th:src="@{/js/paretoCurve.js}"></script>
    <script th:src="@{/js/paretoCurveNormal.js}"></script>
  </head>
  <body>   
    <!-- graph -->
    <script th:inline="javascript" type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            drawGraph([(${graphJson})], "graph");       
        }); 
    </script>
    
    <!-- 100 -->
    <script type="text/javascript">
      drawChartN([[${stepAll100}]], [[${stepPareto100}]], "chart100", "100");
    </script>

    <!-- all no pareto -->
    <script type="text/javascript">
        drawParetoCurveNormal([[${stepAll100}]], "chart_all");
    </script>

    <!-- table -->
    <script type="text/javascript">
      drawTable([[${stepPareto100}]], "table_div");
    </script>

    <!-- pareto curve -->
    <script type="text/javascript">
      drawParetoCurve([[${stepPareto100}]], "curve_chart");
    </script>

    <script type="text/javascript">
        // Загрузка Google Charts
        google.charts.load('current', {'packages':['corechart']});

        // Функция для рисования графика
        function drawChart(yValues) {
            // Подготовка данных
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X'); // Ось X (индексы)
            data.addColumn('number', 'Y'); // Ось Y (значения)

            // Формирование массива точек для графика (индексы X и значения Y)
            var chartData = [];
            for (var i = 0; i < yValues.length; i++) {
                chartData.push([i, yValues[i]]);
            }

            // Добавление данных в таблицу
            data.addRows(chartData);

            // Настройки графика
            var options = {
                title: 'Пример графика',
                curveType: 'function',
                legend: { position: 'bottom' },
                hAxis: {
                    title: 'X'
                },
                vAxis: {
                    title: 'Y'
                }
            };

            // Создание и отображение графика
            var chart = new google.visualization.LineChart(document.getElementById('chart_avg_area'));
            chart.draw(data, options);
        }

        // Пример использования функции для рисования графика
        google.charts.setOnLoadCallback(function() {
            // Массив значений по оси Y
            var yValues = [[${area}]];
            drawChart(yValues);
        });
    </script>

     <script type="text/javascript">
        // Загрузка Google Charts
        google.charts.load('current', {'packages':['corechart']});

        // Функция для рисования графика
        function drawChartDiff(yValues) {
            // Подготовка данных
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'X'); // Ось X (индексы)
            data.addColumn('number', 'Y'); // Ось Y (значения)

            // Формирование массива точек для графика (индексы X и значения Y)
            var chartData = [];
            for (var i = 0; i < yValues.length; i++) {
                chartData.push([i, yValues[i]]);
            }

            // Добавление данных в таблицу
            data.addRows(chartData);

            // Настройки графика
            var options = {
                title: 'Пример графика',
                curveType: 'function',
                legend: { position: 'bottom' },
                hAxis: {
                    title: 'X'
                },
                vAxis: {
                    title: 'Y'
                }
            };

            // Создание и отображение графика
            var chart = new google.visualization.LineChart(document.getElementById('chart_avg_area_diff'));
            chart.draw(data, options);
        }

        // Пример использования функции для рисования графика
        google.charts.setOnLoadCallback(function() {
            // Массив значений по оси Y
            var yValues = [[${areaDiff}]];
            drawChartDiff(yValues);
        });
    </script>

    <div class="graph" id="graph"></div>
    <div class="container_grid">
        <div>
            <div
                class="chart_grid"
                id="chart_all"
            ></div>
        </div>
        <div>
            <div
                class="chart_grid"
                id="curve_chart"
            ></div>
        </div>
        <div>
            <div
                class="chart_grid"
                id="chart100"
            ></div>
            <div class="chart_area_text" th:text="${stepPareto100.size}"></div> 
            <div class="chart_area_text" th:text="${stepAll100.size}"></div> 
        </div>
    </div>
    
    <div class="table" id="table_div"></div>
    <div class="chart_bottom" id="chart_avg_area"></div>
    <div class="chart_bottom" id="chart_avg_area_diff"></div>
  </body>
</html>
