<html>
  <head>
    <link href="css/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var header = ["Срок", "заработная плата"];
        var data = [[${dataPointsAll}]];
        var result = []
        result.push(header);
        data.forEach(element => {
            result.push(element);
        });
        var dataAll = google.visualization.arrayToDataTable(result);

        var options = {
          explorer: {},
          title: "Сравнение срока и заработной платы",
          pointSize: 3,
          hAxis: { title: "Срок", minValue: 0, maxValue: 15 },
          vAxis: { title: "ЗП", minValue: 0, maxValue: 15 },
          legend: "none",
        };

        var chart = new google.visualization.ScatterChart(
          document.getElementById("chart_div")
        );

        chart.draw(dataAll, options);
      }
    </script>

    <script type="text/javascript">
      google.charts.load("current", { packages: ['table'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn("number", "№");
        data.addColumn("number", "Кол-во аналитиков");
        data.addColumn("number", "Кол-во разработчиков");
        data.addColumn("number", "Кол-во тестировщиков");
        data.addColumn("number", "Срок");
        data.addColumn("number", "ЗП");

        // Example data array
        var dataArray = [[${dataPointsParetoFull}]];

        dataArray.forEach(function (row) {
          data.addRow(row);
        });

        data.sort([{column: 0}]);

        var table = new google.visualization.Table(
          document.getElementById("table_div")
        );

        table.draw(data, {
          showRowNumber: true,
          width: "100%",
          height: "100%",
        });
      }
    </script>

    <script type="text/javascript">
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn("number", "Срок проекта (дни)");
        data.addColumn("number", "ЗП с коэффициентами на привлечение людей");
        data.addColumn({ type: "string", role: "annotation" });
        data.addColumn({ type: "string", role: "annotationText" });

        // Example data array
        var dataArray = [[${dataPointsParetoFull}]];

        dataArray.forEach(function (row) {
          var projectDuration = row[4];
          var salary = row[5];
          var operationNumber = "" + row[0];
          data.addRow([
            projectDuration,
            salary,
            operationNumber,
            operationNumber,
          ]);
        });

        var options = {
          explorer: {},
          title: "Сравнение срока и заработной платы",
          hAxis: { title: "Срок проекта (дни)" },
          vAxis: { title: "ЗП с коэффициентами на привлечение людей" },
          annotations: {
            textStyle: {
              fontSize: 12,
              auraColor: "none",
              color: "#555",
            },
            boxStyle: {
              stroke: "#888",
              strokeWidth: 1,
              color: "#ffffff"
            },
          },
          curveType: "function",
          pointSize: 5,
          lineWidth: 2,
          legend: "none",
        };

        var chart = new google.visualization.LineChart(
          document.getElementById("curve_chart")
        );

        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Срок проекта (дни)');
        data.addColumn('number', 'ЗП с коэффициентами на привлечение людей');
        data.addColumn({type: 'string', role: 'style'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addColumn({type: 'string', role: 'annotationText', p: { html: true } });

        var bluePointsArray = [[${dataPointsAll}]];

        var redPointsArray = [[${dataPointsParetoFull}]];

        // Add blue points to the data table
        bluePointsArray.forEach(function(point) {
          data.addRow([point[0], point[1], 'point { size: 3; fill-color: blue; }', null, null]);
        });

        // Add red points with annotations to the data table
        redPointsArray.forEach(function(point) {
          var annotation = '' + point[0];
          data.addRow([point[4], point[5], 'point { size: 3; fill-color: red; }', annotation, annotation]);
        });

        var options = {
          explorer: {},
          title: 'Сравнение срока и заработной платы',
          hAxis: {title: 'Срок проекта (дни)'},
          vAxis: {title: 'ЗП с коэффициентами на привлечение людей'},
          annotations: {
            textStyle: {
              fontSize: 12,
              auraColor: "none",
              color: "#555",
            },
            boxStyle: {
              stroke: "#888",
              strokeWidth: 1,
              color: "#ffffff"
            }
          },
          pointSize: 5,
          lineWidth: 0,
          legend: "none",
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_red_blue'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div
        class="chart"
        id="chart_div"
        style="width: 900px; height: 500px"
      ></div>
      <div
        class="chart"
        id="curve_chart"
        style="width: 900px; height: 500px"
      ></div>
    </div>
    <div class="container">
      <div
        class="chart"
        id="chart_red_blue"
        style="width: 900px; height: 500px"
      ></div>
      <div
        class="chart"
        id="table_div"
        style="width: 900px; height: 500px"
      ></div>
    </div>
  </body>
</html>
